# Terraform
.terraform/
terraform.tfstate*
terraform.tfvars
*.tfvars
**/.DS_Store

# Ansible
ansible/secrets.yml
ansible/.vault_pass
ansible/inventory.yml

# Kubernetes
k8s/simple-*.yaml
k8s/promtail-*.yaml
k8s/vmagent-*.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp