global:
  smtp_smarthost: 'localhost:587'
  smtp_from: 'alerts@telemetry.local'

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'telegram'

receivers:
  - name: 'telegram'
    telegram_configs:
      - bot_token: '{{ telegram_bot_token }}'
        chat_id: {{ telegram_chat_id }}
        message: |
          {{ "{{" }} range .Alerts {{ "}}" }}
          Alert: {{ "{{" }} .Annotations.summary {{ "}}" }}
          Description: {{ "{{" }} .Annotations.description {{ "}}" }}
          Severity: {{ "{{" }} .Labels.severity {{ "}}" }}
          {{ "{{" }} end {{ "}}" }}
        parse_mode: 'Markdown'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
